nav {
    display: flex;
    background: blue;
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

nav tag-item {
    margin: 2px;
    padding: 2px;
    background: cyan
}

tag-item {
}


tag-item[unselected] {
    opacity: 0.5
}

main {
    display: flex;
    background: red;
    flex-flow: column-reverse nowrap;

}

main feature-request {
    margin: 2px;
    padding: 2px;
}

feature-request {
    background: orange;
}

feature-request[hidden] {
    visibility: hidden;
}
